.pin{
    margin: 0px 0px 0px 0px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin: 0px 0px 0px 0px;
    position: relative;
    z-index: 3;
}

.posicao1{
    top: -150px;          
    left: 50%;
}

.posicao2{
    top: -360px;    
    left: 50%;
}

.casaresposta{
    position: relative;
    margin: 0px 0px 0px 0px;
    z-index: 20;
    top: -490px;
    opacity: 50%;
}