.transparente{
    cursor: move;
    position: absolute;
    opacity: 0.5;
    z-index: '5';
}

.square{
    cursor: move;
    position: absolute;
}

.CasaQuadrado1{
    background-color: lightyellow;
    width: 330px;
    height: 225px;
}

.CasaTriangulo1{
    width: 0; 
    height: 0; 
    border-left: 165px solid transparent;
    border-right: 165px solid transparent;
    border-bottom: 165px solid #5386E4;
}