    @keyframes shake {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(5deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    .shake {
      animation: shake 200ms ease-in-out;
    }

    .fade-out {
      transition: opacity 1s;
      opacity: 0;
    }