@keyframes redGlow {
    0% {
      box-shadow: 0 0 10px red;
    }
    50% {
      box-shadow: 0 0 20px red;
    }
    100% {
      box-shadow: 0 0 10px red;
    }
  }
  
  @keyframes greenGlow {
    0% {
      box-shadow: 0 0 10px green;
    }
    50% {
      box-shadow: 0 0 20px green;
    }
    100% {
      box-shadow: 0 0 10px green;
    }
  }
  
  .glow-red {
    animation: redGlow 1s;
  }
  
  .glow-green {
    animation: greenGlow 1s;
  }
  